<style scoped>
*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
}

.about-section{
    background: url("../assets/people-working-modern-flat-design_logo.png") no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 10px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}

.inner-container h1{
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: 900;
}

.text{
    font-size: 18px;
    color: #26a69a;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 20px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: right;
  padding: 15px;

}
</style>

<template>
<div>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <div class="about-section">
        <div class="inner-container">
            <h1>About PlaceYourAd</h1>
            <p class="text">
                Our mission is to connect websites and advertisers in order to offer them advertising space.
            </p>
            <p class="text">
                Publisher: it defines the spaces available on its site, with date and rates.  
            </p>
            <p class="text">
                Integrate ads on the site and monitor KPIs (click rate, visibility rate).            </p>
            <p class="text">
                Advertiser: Choose the spaces for the distribution of advertising content.
            </p>
            <p class="text">
                KPI monitoring to generate relevant and constructive reports.  
            </p>
        </div>
    </div>
    <div class="footer">
  <p>© 2021 PlaceYourAd</p>
</div>
    </div>
    
</template>
