<style>
  #campaign{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  #campaignsList{
    width: 100%;
    margin-top: 50px;
  }
</style>
<template>
  <div id="campaign" class="container">
    <div id="campaignsList">
      <h2>Campaigns :</h2>
      <Datatable
          v-if="campaigns.length > 0"
          :headers="headers"
          :rows="datatableCampaigns"
          :actions="actions"
      ></Datatable>
      <p v-else-if="campaigns.length === 0"> No campaigns. </p>
      <BottomModal class="bottomModal"
                   :modalid="'placementmodal'"
                   :modal-class="['modal-1']"
                   :close-class="['close-1']"
                   :active="true"
      >
        <PlacementsAsset
                v-if="this.selectedIndex !== null"
                v-bind:placements="this.campaigns[this.selectedIndex].placements"
                v-bind:edit="currentUser.roles.includes('ROLE_ADVERTISER')"
                v-on:updatedPlacement="this.getCampaigns"
        ></PlacementsAsset>
      </BottomModal>
    </div>
  </div>
</template>

<script>
  import "toastify-js/src/toastify.css";
  import M from 'materialize-css';
  // import Campaign from '../../models/campaign';
  import CampaignService from '../services/campaign.service';

  import Datatable from "../components/Datatable";
  import BottomModal from "../components/BottomModal";

  import PlacementsAsset from "../components/PlacementsAsset";

  export default {
    name : 'Campaign',
    components:{
      BottomModal,
      Datatable,
      PlacementsAsset
    },
    data () {
      return {
        campaigns: [],
        selectedIndex: null,
        headers: ["Name", "Status","Start", "End"],
        actions:[
          {
            button: ()=>{return'<button href="#placementmodal" class="btn grey modal-trigger"><i class="fas fa-edit"></i> Assets </button>'},
            click: (index)=>{
              this.selectedIndex = index;
            }
          },
        ]
      }
    },
    computed:{
      currentUser(){
        return this.$store.state.auth.user;
      },
      datatableCampaigns(){
        return this.campaigns.map((campaign)=>{
          return{
            name: campaign.name,
            state: campaign.state,
            startDate: campaign.startDate,
            endDate: campaign.endDate
          }
        });
      },
    },
    mounted() {
      M.AutoInit();
      this.getCampaigns();
    },
    methods: {
      getCampaigns: function (){
        var filters = [
          "advertiser=/users/"+this.$store.state.auth.user.id
        ];
        CampaignService.getCampaigns(filters)
            .then((response)=>{
              console.log("getCampaign", response);
              this.campaigns = response.data;
            })
            .catch(()=>{
            })
      },
    }
  }
</script>