<template>
    <div>
        <Vuemik
                :initial-value="initialValues"
                :on-submit="addItem"
        >
            <Field name="lastname" component="input"></Field>
            <button @click="addItem">Click</button>
        </Vuemik>
    </div>
</template>

<script>
  import Vuemik from "../components/Vuemik";
  import Field from "../components/Field";

  export default {
    name: "formtest",
    components: {
      Vuemik,
      Field
    },
    data() {
      return {
        initialValues: {
          lastname: "test",
        },
      }
    },
    methods: {
      addItem() {
        console.log("additem");
      }
    }

  }
</script>

<style scoped>

</style>