<style>
  .button{
    background-color: #111;
    height: 100%;
  }

  .name{
    margin: 0;
    display: inline;
  }

  #notifiContainer{
    width: 200%;

    position: absolute;
    z-index: -10;

    background-color: #242526;

    top:30px;
    left: -50%;
    opacity: 0;

    border: black 1px solid;

    transition: ease-in-out top 0.2s, ease-in-out opacity 0.2s;
    -moz-transition: ease-in-out top 0.2s, ease-in-out opacity 0.2s;
    -webkit-transition: ease-in-out top 0.2s, ease-in-out opacity 0.2s;
  }

  #notifiContainer.dd{
    opacity: 1;
    top: 68px;
    z-index: 10;
    /*display: block;*/
    transition: ease-in-out top 0.2s, ease-in-out opacity 0.2s;
    -moz-transition: ease-in-out top 0.2s, ease-in-out opacity 0.2s;
    -webkit-transition: ease-in-out top 0.2s, ease-in-out opacity 0.2s;

  }

  .icon{
    display: inline-flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-color: #d63131;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    /*margin-right: 10px;*/

    /*position: absolute;*/
    /*top: 7px;*/
    /*right: -8px;*/
  }

  .arrow-up {

    position: absolute;
    top: -20px;
    left: calc(50% - 20px);

    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-bottom: 20px solid #242526;
  }

  .notifications{
    display: flex;
    flex-direction: column;
  }

  .notification{
    padding: 5px;
    line-height: 20px;

    display: flex;
    border-bottom: solid black 1px;
  }

  .notification.toread{
    background-color: #d63131;
  }

  .notification i{
    width: 15%;
  }

  .notification .content{
    width:85%;
  }

</style>

<template>
  <span @click="clicked=!clicked" style="position: relative; cursor: pointer;">
    <span class="name">Notifications</span>
    <span v-if="notifNotReaded.length>0" class="icon">{{notifNotReaded.length}}</span>
    <div id="notifiContainer" :class="className">
      <div class="arrow-up"></div>
      <div class="notifications">
        <div
              v-for="notification in notifications" v-bind:key="notification.id"
             :class="{notification: true, toread: !notification.read }"
        >
         <a :href="notification.link">
           <i class="fas fa-angle-left"></i>
         </a>
          <p class="content">{{notification.message}}</p>
        </div>
      </div>
    </div>
  </span>
</template>

<script>
import NotificationService from "../services/notification.service";

export default {
  name: 'Notification',
  mounted() {
    setInterval(()=>{
      this.getNotifications();
    }, 5000);
  },
  data () {
    return {
      clicked: false,
      notifications: []
    }
  },
  computed:{
    className(){
      return { dd: this.clicked }
    },
    notifNotReaded(){
      // console.log("RERENDER", this.notifications.filter( x => !x.read));
      return this.notifications.filter( x => !x.read);
    }
  },
  methods:{
    getNotifications(){
      if(this.$store.state.auth.user){
        let filters = [
          "notified=/users/"+this.$store.state.auth.user.id,
          "read=false",
        ];
        NotificationService.getNotifications(filters)
                .then((resp)=>{
                  this.notifications = resp.data
                })
                .catch((error)=>{
                  console.error(error);
                })
      }

    }
  }
}
</script>