<style>
  #proposal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
  }
  #proposalList{
    width: 100%;
    margin-top: 50px;
  }
</style>
<template>
  <div id="proposal" class="container">
    <div id="proposalList">
      <h2>Proposals :</h2>
      <Datatable
          v-if="proposals.length > 0"
          :headers="headers"
          :rows="datatableProposals"
          :actions="actions"
      ></Datatable>
      <p v-else-if="datatableProposals.length === 0"> No proposals. </p>
    </div>
  </div>
</template>

<script>
  import "toastify-js/src/toastify.css";
  import Campaign from '../../models/campaign'
  import CampaignService from '../services/campaign.service'

  import Datatable from "../components/Datatable";
  // import format from "date-fns/format";
  import addDays from "date-fns/addDays";
  import Toastify from "toastify-js";

  export default {
    name : 'Campaign',
    components:{
      Datatable
    },
    data () {
      return {
        proposals: [],
        selectedProposal: {},
        startDate: new Date(),
        endDate: addDays(new Date(),10),
        headers: ["Advertiser", "Placements"],
        actions:[
          {
            button:()=>{
              return '<button class="btn"><i class="fas fa-check"></i></button>'
            } ,
            click: async (index)=>{
              this.selectedProposal = this.proposals[index];
              await this.updateCampaign();
              this.deleteProposal();
            }
          },
          {
            button: ()=>{
              return '<button class="btn red"><i class="fas fa-times"></i></button>'
            } ,
            click: (index)=>{
              this.selectedProposal = this.proposals[index];
              this.deleteProposal();
            }
          }
        ]
      }
    },
    computed:{
      datatableProposals(){
        return this.proposals.map((proposal)=>{
          return{
            advertiser: proposal.advertiser.email,
            placements: proposal.placements.map(p => p.name).join(", "),
          }
        });
      },
    },
    mounted() {
      this.getProposals();
    },
    methods: {
      async deleteProposal(){
        await CampaignService.deleteProposal(this.selectedProposal);
        this.getProposals();
      },
      updateCampaign(){
        let campaign = new Campaign();
        campaign.id = this.selectedProposal.campaign.split("/campaigns/")[1];
        campaign.placements = this.selectedProposal.placements.map((p)=>"/placements/"+p.id);
        CampaignService.updateCampaign(campaign.updateProposal)
            .then(()=>{
              Toastify({
                text: "Proposal : "+this.selectedProposal.advertiser.email+" accepted.",
                duration: 3000,
                close: true,
                className: "success",
                gravity: "top",
                position: "right",
              }).showToast();

            })
            .catch(()=>{
            })
      },
      getProposals: function (){
        var filters = [
          "publisher=/users/"+this.$store.state.auth.user.id
        ];
        CampaignService.getProposals(filters)
            .then((response)=>{
              console.log("getProposals", response);
              this.proposals = response.data;
            })
            .catch(()=>{
            })
      },
    }
  }
</script>