<style>
  #website{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  #newSiteContainer{
    width: 100%;
  }

  #websitesList{
    width: 100%;
    margin-top: 50px;
  }

  #deleteAll.hided{
    opacity: 0;
  }

  /*modal*/
  #placements .newSiteContainer{
    width: 100%;
  }

</style>

<template>
  <div id="website" class="container">

    <div id="newSiteContainer">
      <RegisterWebsite
              v-bind:website="newWebsite"
              v-bind:withPlacements="false"
              v-on:registered="updateWebsites"
              v-bind:operation="'create'"
      ></RegisterWebsite>
    </div>

    <div id="websitesList">
      <h2>My websites</h2>
      <button
        id="deleteAll" class="btn red"
        v-bind:class="{hided: this.selectedWebsites.length===0}"
        @click="sendDelete" >Delete</button>
      <Datatable
              v-if="websites.length > 0"
              :headers="headers"
              :rows="datatableWebsites"
              :actions="actions"
              :is-row-checked="isWebsiteChecked"
              v-on:unsaveRow="unsaveWebsite"
              v-on:saveRow="saveWebsite"
              v-on:sendClickRow="rowClicked"
      ></Datatable>
      <p v-else-if="websites.length === 0"> No websites. </p>
    </div>

    <BottomModal class="bottomModal"
                 :modalid="'placements'"
                 :modal-class="['modal-1']"
                 :close-class="['close-1']"
                 :active="true"
    >
      <RegisterWebsite
        v-bind:website="selectedWebsite"
        v-bind:withPlacements="true"
        v-bind:placements="placements"
        v-bind:operation="'update'"
        v-on:createplacement="getWebsite"
      ></RegisterWebsite>
    </BottomModal>
  </div>

</template>

<script>
  import "toastify-js/src/toastify.css";
  import Toastify from 'toastify-js';
  import Website from '../../models/website';
  import WebsiteService from '../services/website.service';

  import Datatable from "../components/Datatable";
  import BottomModal from '../components/BottomModal';
  import RegisterWebsite from "../components/RegisterWebsite";
  import M from "materialize-css";
  // import PlacementService from "../services/placement.service";

  export default {
    name: 'Website',
    components:{
      Datatable,
      BottomModal,
      RegisterWebsite
    },
    data () {
      return {
        newWebsite: new Website('', ''),
        websites: [],
        selectedWebsites: [],
        selectedWebsite: new Website('', ''),
        placements: [],
        headers: ["name","url"],
        actions:[
          {
            name: "edit",
            button:  ()=>{
              return`
              <button href="#placements" class='btn grey modal-trigger'>
                <i class='fas fa-edit'></i>
               </button>
            `
            },
            click: (index)=>{
              let website = this.websites[index];
              console.log('INDEX', index);
              this.selectedWebsite = new Website(website.name, website.uri, website.id);
              this.getWebsite();
            }
          }
        ],
      }
    },
    computed:{
      datatableWebsites(){
        return this.websites.map((website)=>{
          return{
            name: website.name,
            url: website.url,
          }
        });
      }
    },
    mounted: function() {
      M.AutoInit();

      this.updateWebsites();
    },
    methods: {
      getWebsite(){
        WebsiteService.getWebsite(this.selectedWebsite.id)
                .then((response)=>{
                  console.log("[Website]getWebsites", response);
                  let site = response.data;
                  this.selectedWebsite = new Website(site.name, site.url, site.id);
                  this.placements = site.placements;
                })
                .catch(()=>{})
      },
      rowClicked(){

      },
      resetDatas(){
        this.selectedWebsites =[];
        this.websites =[];
        this.newWebsite = new Website('', '');
      },
      updateWebsites(){
        WebsiteService.getUserWebsites(this.$store.state.auth.user)
                .then((response)=>{
                  console.log("[Website]getWebsites", response);
                  this.websites = response.data.map((website)=>{
                    return{
                      id: website.id,
                      name: website.name,
                      url: website.url,
                    }
                  }).reverse();

                })
                .catch(()=>{

                })

      },
      isWebsiteChecked(website, index){
        let isChecked = false;
        this.selectedWebsites.forEach((selectedWebsite)=>{
          // console.log(index, index2, selectedWebsite, this.websites[index]);
          if(this.websites[index].id === selectedWebsite.id){
            isChecked = true;
          }
        });
        return isChecked;
      },
      unsaveWebsite(websiteIndex){
        if(this.selectedWebsites.length === 1){
          this.selectedWebsites = [];
          return;
        }

        var firstPart = this.selectedWebsites.splice(0,websiteIndex);
        var secondPart = this.selectedWebsites.splice(websiteIndex, this.selectedWebsites.length);
        console.log(firstPart, secondPart);
        this.selectedWebsites = [...firstPart, ...secondPart];
      },
      saveWebsite(index){
        console.log("saveWebsite", index);
        this.selectedWebsites.push(this.websites[index]);
      },
      async sendDelete(){
        await Promise.all( this.selectedWebsites.map((website)=>{
          return WebsiteService.deleteWebsite(website)
        }) );

        let names = this.selectedWebsites.map((web)=>web.name);
        Toastify({
          text: "Website : "+names.join(", ")+" deleted.",
          duration: 3000,
          destination: "https://github.com/apvarun/toastify-js",
          close: true,
          className: "success",
          gravity: "top",
          position: "right",
        }).showToast();
        this.resetDatas();
        this.updateWebsites();
      },
    }
  }
</script>