<style>
    .modal.modal-1{
        height: calc(100vh - 64px)!important;
        max-height: calc(100vh - 64px)!important;
    }

    .modal-close.close-1{
        top: 64px!important;
    }

    .modal.modal-2{
        height: calc(100vh - 100px)!important;
        max-height: calc(100vh - 100px)!important;
    }

    .modal-close.close-2{
        top: 100px!important;
    }

    .modal div.modal-content{
        padding: 70px!important;
        padding-top: 45px;
    }

    button.modal-close{
        position: fixed;
        right: 0px;
        color: white;
    }
</style>

<template>
    <div>
        <button id="triggerButton" class="waves-effect waves-light btn modal-trigger"
                :href="'#'+modalid"
                v-if="buttonText"
                :disabled="!active"
        >
            {{ buttonText }}
        </button>

        <!-- Modal Structure -->
        <div :id="modalid" :class="['modal', 'bottom-sheet',...modalClass]">
            <button
                    :class="['modal-close', 'waves-effect', 'waves-green', 'btn-flat', 'red', ...closeClass]"
            >
                <i class="fa fa-times"></i></button>
            <div class="modal-content">
                <slot></slot>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props:{
            buttonText: String,
            modalid: String,
            active: Boolean,
            modalClass: Array,
            closeClass: Array
        },
        computed: {},
        data: ()=>({
            // active: false
        })
    }
</script>

<style>
    #triggerButton{
        text-transform: inherit;
    }
</style>