<style>
    thead{
        font-weight: bold;
    }

    td {
        width: 15% ;
    }

    td.check{
        width: 2%;
    }

    tr.first > td.check [type="checkbox"]:checked+span:not(.lever):before {
        /*border-color: red!important;*/
        border-right: 2px solid white;
        border-bottom: 2px solid white;
    }

    td.firstcol{
        width: 2%;
    }

    td{
        /*border: 1px solid black!important;*/
        text-align: right!important;
    }

    tr.first{
        background-color: #26a69a;
        color: white;
    }
</style>

<template>
    <table>
        <thead>
        <tr>
            <td class="check" v-if="isRowChecked"></td>
            <td
                    v-bind:key="tdIndex" v-for="(td, tdIndex) in headers"
                    v-bind:class="{firstcol: tdIndex===0}"
            >
                {{td}}
            </td>
            <td class="actions" v-if="actions"></td>
        </tr>

        </thead>
        <tbody>
        <tr
            v-bind:key="rowIndex" v-for="(row, rowIndex) in rows"
            v-bind:class="{first: rowIndex===0}"
        >
            <td class="check" v-if="isRowChecked">
                <label>
                    <input v-on:change="sendUnsaveRow(rowIndex)" v-if="isRowChecked(row, rowIndex)" checked type="checkbox"/>
                    <input v-on:change="sendSaveRow(rowIndex)" v-else type="checkbox"/>
                    <span></span>
                </label>
            </td>
            <td
                v-bind:data-rowIndex="rowIndex" v-bind:data-tdIndex="tdIndex"
                v-bind:data-td="td" v-bind:data-tdvalue="tdvalue"
                v-bind:key="tdIndex"
                v-for="(td, tdvalue, tdIndex) in row"
                v-bind:class="{firstcol: tdIndex===0}"
            >
                <input v-if="editable" :value="td">
                <p v-else>{{td}}</p>
            </td>
            <div v-if="actions">
                <td
                        v-for="(action, actionIndex, index) in actions" v-bind:key="index"
                >
                    <div @click="action.click(rowIndex)" v-html="action.button(rowIndex)"></div>
                </td>
            </div>
        </tr>
        </tbody>
    </table>
</template>

<script>
    export default {
        props:{
            headers: Array,
            rows: Array,
            isRowChecked: Function,
            actions: Array,
            editable: Boolean,
        },
        data: ()=>({}),
      methods: {
        sendUnsaveRow: function (rowIndex) {
          this.$emit('unsaveRow', rowIndex)
        },
        sendSaveRow: function (row) {
          this.$emit('saveRow', row)
        },
        sendClickRow: function (row) {
          this.$emit('clickRow', row)
        },
        emitAction: function(action){
          this.$emit(action)
        }
      }
    }
</script>

<style>
</style>