<template>
    <component
            v-bind:is="component"
            @change="setValue"
            :value="value"
    >
    </component>
</template>

<script>
  export default {
    name: "Field",
    props:{
      component: {
        default: "input",
        type: String
      },
      name: String,
    },
    computed: {
      value(){
        return this.getFieldValue(this.name);
      }
    },
    methods:{
      setValue(e){
        this.setFieldValue(this.name, e.target.value)
      }
    },
    inject: ['getFieldValue', 'setFieldValue']
  }
</script>

<style scoped>

</style>