<style>

    .imagePreview{
        height: 100%;
    }

    .preview {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-color: grey;
    }

    .preview img {
        max-width: 100%;
        max-height: 80%;
    }

    .file{
        position: absolute;
        opacity: 0;
    }

    .addIcon{
        font-size: 150px;
        color: white;
        font-weight: 300;
    }
</style>

<template>

    <div class="imagePreview">
        <label>Asset</label>
        <input size="50000" class="file" type="file" :name="name" @change="onFileChange" ref="fileInput"  />
        <div class="preview" @click="trigger">
            <img v-if="image" :src="image" />
            <i v-else class="addIcon fa fa-plus"></i>
        </div>
    </div>

</template>

<script>
  export default {
    name: 'ImagePreview',
    props:[
      'image',
      'name',
    ],
    methods: {
        async onFileChange(e) {
            const file = e.target.files[0];
            // let img = URL.createObjectURL(file);
            let img = await this.convertToBase64(file);
            this.$emit('newimage', img, file);
        },
        trigger () {
            this.$refs.fileInput.click()
        },
        convertToBase64(file){
          return new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = () => resolve(reader.result);
            reader.onerror = error => reject(error);
          });
        }
    }
  }
</script>