<template>
  <div :class="[containerClass]">
    <select v-on:change="updateSelectedOptions" multiple v-bind:id="id">
      <label>{{ label }}</label>
        <option value="" disabled selected>{{label}}</option>
        <option value="option" v-for="option in options" v-bind:key="option">
          {{option}}
        </option>
    </select>
  </div>
</template>

<script>

  export default {
    name: "checkbox",
    props: {
      id: String,
      containerClass: String,
      label: String,
      options: Array,
      selectedOptions: String
    },
    components: {},
    data: ()=>({}),
    methods: {
      updateSelectedOptions: (e)=>{
        console.log("update", e);
      }
    },
  };
</script>

<style>

</style>
