<style>
    .formContainer{
        width: 70%;
    }

    .placementList{
        padding: 35px;
        box-shadow: 0 -1px 4px 0 rgba(26, 26, 26, .08), 0 4px 8px 0 rgba(26, 26, 26, .12);
    }

    .edit{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
        width: 150px;

        background-color: grey;

        font-size: 70px;

        position: relative;
        left: 150px;
    }

    .asset{
        position: relative;
        display: flex;
        width: 150px;
        left:  150px;
    }

    .file{
        position: absolute;
        top: -200px;
    }
</style>

<template>

    <div class="formContainer row">
        <h2>Placements asset</h2>
            <input size="50000" class="file" type="file" @change="onFileChange" ref="fileInput"  />

            <div class="row placementList">
                <Datatable
                        v-if="datatablePlacements && datatablePlacements.length > 0"
                        :headers="placementsHeaders"
                        :rows="datatablePlacements"
                        :actions="actions"
                ></Datatable>
                <p v-else-if="datatablePlacements && datatablePlacements.length === 0"> No placements. </p>

            </div>
    </div>
</template>

<script>

    import Datatable from "./Datatable";
    import Toastify from "toastify-js";

    import PlacementService from "../services/placement.service";

    export default {
      name: 'PlacementsAsset',
      components: {
        Datatable
      },
      props:{
        placements: Array,
        edit: Boolean
      },
      data: function(){
        return {
          errors: {},
          placementsHeaders: ['name'],
          actions: [
            {
              name: "addasset",
              button:  (index)=>{
                let placements = this.placements;
                let placement = placements[index];
                let html = "";
                if(placement.asset){
                    html =  `<img class="asset" src="${placement.asset}"></img>`;
                }else{
                  if(this.edit){
                    html = "<span class='edit'><i v-else class='fa fa-plus'></i></span>";
                  } else{
                    html= `<span class="asset">Waiting image from advertiser</span>`;
                  }
                }

                return html;
              },
              click: (index)=>{
                let placements = this.placements;
                let placement = placements[index];
                console.log("edit image", placement);

                if(this.edit){

                  this.trigger();
                  this.selectedPlacement = {id: placement.id, asset: placement.asset, name: placement.name};
                }

              }
            }
          ]
        }
      },
      computed:{
        datatablePlacements(){
          return this.placements.map((placement)=>{
            return {
              "name": placement.name,
            }
          });
        }
      },
      methods:{
        async onFileChange(e) {
          const file = e.target.files[0];
          // let img = URL.createObjectURL(file);
          if(file){
            let img = await this.convertToBase64(file);
            this.selectedPlacement.asset = img;
            this.updatePlacement();
          }
        },
        trigger () {
          this.$refs.fileInput.click();
        },
        convertToBase64(file){
          return new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = () => resolve(reader.result);
            reader.onerror = error => reject(error);
          });
        },
        updatePlacement(){
          console.log("upadteRequest");
          PlacementService.updatePlacement(this.selectedPlacement)
            .then(()=>{
              Toastify({
                text: "Placement : "+this.selectedPlacement.name+" updated.",
                duration: 3000,
                close: true,
                className: "success",
                gravity: "top",
                position: "right",
              }).showToast();
                this.$emit("updatedPlacement");
            })
            .catch(errors =>{
              this.errors = errors;
              console.log(errors);
            });
        },
      }
    }


</script>