<style scoped>
    .formContainer{
        width: 100%;
    }

    .formContainer form.create{
        padding: 35px;
        box-shadow: 0 -1px 4px 0 rgba(26, 26, 26, .08), 0 4px 8px 0 rgba(26, 26, 26, .12);
    }

    .website_create{
        margin-top: 25px;
    }

    .placementList{
        padding: 35px;
        box-shadow: 0 -1px 4px 0 rgba(26, 26, 26, .08), 0 4px 8px 0 rgba(26, 26, 26, .12);
    }
</style>

<template>

    <div class="formContainer row">
        <h2> {{operation === 'create' ? 'Add website' : 'Update website' }} : {{website.name}}</h2>

        <form class="create row" @submit.prevent="operation === 'create' ? createWebsite() : updateWebsite()">
                <div>
                    <label>Name</label>
                    <input v-model="website.name" name="websiteName" class="website_name input-field" placeholder="name" type="text" />
                </div>
<!--                <div v-if="errors.name" class="alert-danger">{{errors.name}}</div>-->

            <div>
                <label>Url</label>
                <input v-model="website.url" name="websiteUrl" class="website_url input-field" placeholder="url" type="text" />
                <!--                <div v-if="errors.url" class="alert-danger">{{errors.url}}</div>-->
            </div>

                <button class="website_create waves-effect waves-light btn">
                    Save
                </button>
        </form>

        <div v-if="withPlacements">
            <RegisterPlacement
                    :website="website"
                    :placement="newPlacement"
                    :operation="'create'"
                    v-on:created="createdPlacement"
            >

            </RegisterPlacement>
            <h2>Placements</h2>

            <div class="row placementList" v-if="withPlacements">
                <Datatable
                        v-if="fullPlacements && fullPlacements.length > 0"
                        :headers="placementsHeaders"
                        :rows="datatablePlacements"
                        :actions="actions"
                ></Datatable>
                <p v-else-if="fullPlacements && fullPlacements.length === 0"> No placements. </p>

            </div>

            <BottomModal class="bottomModal"
                         :modalid="'placementmodal'"
                         :modal-class="['modal-2']"
                         :close-class="['close-2']"
                         :active="true"
            >
                <RegisterPlacement
                        v-bind:website="website"
                        v-bind:placement="selectedPlacement"
                        v-on:updateplacement="this.$emit('createplacement')"
                ></RegisterPlacement>
            </BottomModal>
        </div>
    </div>
</template>

<script>
    import Placement from "../../models/placement";
    import Website from "../../models/website";

    import WebsiteService from "../services/website.service";
    import PlacementService from "../services/placement.service";

    import Datatable from "./Datatable";
    import Toastify from "toastify-js";
    import BottomModal from "./BottomModal";
    import RegisterPlacement from "./RegisterPlacement";

    export default {
      name: 'RegisterWebsite',
      components: {
        RegisterPlacement,
        BottomModal,
        Datatable
      },
      props:{
        website: Website,
        placements: Array,
        withPlacements: Boolean,
        operation: String,
      },
      watch: {
        placements: function(newVal){
          this.fullPlacements = [];
          newVal.forEach((placement)=>{
            console.log("[RegisterPlacement]getPlacmeent", placement);
            PlacementService.getPlacement(placement.split("/")[2])
              .then(({data})=>{
                this.fullPlacements.push(data);
              })

          });
        }
      },
      data: function(){
        return {
          fullPlacements: [],
          errors: {},
          newPlacement: new Placement(),
          selectedPlacement: new Placement(),
          placementsHeaders: [
            'name', 'url', 'width', 'height', 'price', 'status', 'start date', 'end date'
          ],
          actions: [
            {
              name: "edit",
              button:  ()=>{
                return `
                  <button href="#placementmodal" class='btn grey modal-trigger'>
                    <i class='fas fa-edit'></i>
                   </button>
                `
              },
              click: (index)=>{
                let placements = this.fullPlacements.reverse();
                let placement = placements[index];
                console.log("changeSelected", placement);
                let test = new Placement(
                    placement.id, placement.name,
                    placement.url, placement.height,
                    placement.width, new Date(placement.startDate), new Date(placement.endDate),
                    placement.price, placement.status,
                    placement.asset
                );

                this.selectedPlacement = test;
              }
            }
          ]
        }
      },
      computed:{
        datatablePlacements(){
          return this.fullPlacements.map((placement)=>{
            return {
              "name": placement.name,
              "url": placement.url,
              "width": placement.width,
              "height": placement.height,
              "price": placement.price,
              "status": placement.status,
              "startDate": placement.startDate,
              "endDate": placement.endDate,

            }
          }).reverse();
        }
      },
      methods:{
        setStart(startDate){
            this.newPlacement.startDate = startDate;
        },
        setEnd(endDate){
          this.newPlacement.endDate = endDate;
        },
        createdPlacement(){
          this.$emit('createplacement');
          this.newPlacement= new Placement();
        },
        updateWebsite(){
          console.log("upadteRequest", this.website, this.$store.auth);
          WebsiteService.updateWebsite(this.website)
            .then(()=>{
              Toastify({
                text: "Website : "+this.website.name+" updated.",
                duration: 3000,
                close: true,
                className: "success",
                gravity: "top",
                position: "right",
              }).showToast();

            })
            .catch(errors =>{
              this.errors = errors;
              console.log(errors);
            });
        },
        createWebsite(){
          WebsiteService.createWebsite(this.$store.state.auth.user, this.website)
            .then(()=>{
              Toastify({
                text: "Website : "+this.website.name+" created.",
                duration: 3000,
                close: true,
                className: "success",
                gravity: "top",
                position: "right",
              }).showToast();

              this.$emit('registered')

            })
            .catch(errors =>{
              this.errors = errors;
              console.log(errors);
            });
        },
      }
    }


</script>