<style>

    .formContainer form.create{
        padding: 35px;
        box-shadow: 0 -1px 4px 0 rgba(26, 26, 26, .08), 0 4px 8px 0 rgba(26, 26, 26, .12);
    }

    .campaignContainer{
        margin-top: 20px;
        padding: 35px;
        box-shadow: 0 -1px 4px 0 rgba(26, 26, 26, .08), 0 4px 8px 0 rgba(26, 26, 26, .12);
    }
</style>

<template>

    <div class="row">

        <div class="row">
            <h2 class="col s6"> Campaign : {{campaign.name}}</h2>

            <button class="campaign_create waves-effect waves-light btn col s2 offset-s4"
                    @click="createCampaign"
            >Create campaign</button>
        </div>

        <div class="row campaignContainer">

            <form @submit.prevent="">
            <div class="col s6">
                    <div class="row">
                        <div class="col l12">
                            <label for="name">Name</label>
                            <input id="name" v-model="campaign.name" name="name" placeholder="name">
                        </div>
                    </div>
                    <div class="row">
                        <DatePicker class="col m5"
                                    v-on:input="setStart"
                                    v-bind:label='"Start date"'
                                    v-bind:currentDate='campaign.startDate'
                                    v-bind:placeholder='campaign.formatedStartDate'
                        />
                        <p class="col l2" style="text-align:center;"></p>

                        <DatePicker class="col m5"
                                    v-on:input="setEnd"
                                    v-bind:label='"End date"'
                                    v-bind:currentDate='campaign.endDate'
                                    v-bind:placeholder='campaign.formatedEndDate'
                        />
                    </div>

            </div>
            </form>
        </div>

        <div class="row">
            <Datatable
                    :headers="headers"
                    :rows="datatablePlacements"
                    >
            </Datatable>
        </div>
    </div>
</template>

<script>

    import Campaign from "../../models/campaign";
    // import Website from "../../models/website";

    import PlacementService from "../services/placement.service";
    import CampaignService from "../services/campaign.service";
    import NotificationService from "../services/notification.service";

    import DatePicker from "./DatePicker";
    import Datatable from "./Datatable";
    import Toastify from "toastify-js";

    export default {
      name: 'RegisterCampaign',
      components: {
        DatePicker,
        Datatable
      },
      props:{
        operation: String,
        placements: Array
      },
      computed: {
        datatablePlacements: function () {
          return this.placements.map((placement) => {
            return {
              "name": placement.name,
              "url": placement.url,
              "width": placement.width,
              "height": placement.height,
              "price": placement.price,
              "startDate": placement.startDate,
              "endDate": placement.endDate,

            }
          })
        },
        placementUsers: function(){
          let users = [];
          this.placements.forEach((placement)=>{
            users[placement.owner] = placement.owner;
          });
          console.log("USER", users);
          return Object.values(users);
        }
        },
      data: function(){
        return {
          errors: {},
          headers: ["Name",'Url', "Width", "Height", "Price", "Start", "End"],
          campaign: new Campaign(),
        }
      },
      methods:{
        setStart(startDate){
            this.campaign.startDate = startDate;
        },
        setEnd(endDate){
          this.campaign.endDate = endDate;
        },
        async createCampaign(){
          // let campaignId =  this.campaign;
          this.campaign.state ="Preparation";
          let response = await CampaignService.createCampaign(this.$store.state.auth.user, this.campaign);
          console.log(response);
          this.campaign = response.data;
          CampaignService.sendProposal(this.$store.state.auth.user, this.campaign, this.placements, this.placementUsers)
            .then(()=>{
              Toastify({
                text: "Campaign : "+this.campaign.name+" created.",
                duration: 3000, close: true,
                className: "success", gravity: "top", position: "right",
              }).showToast();

              // this.placements.forEach((placement)=>{
              //   PlacementService.updatePlacement({id: placement.id, status: "Ongoing"})
              //     .catch(errors =>{
              //       this.errors = errors;
              //       console.log(errors);
              //     });
              // });

              console.log("placmentUsers", this.placementUsers, typeof this.placementUsers);
              this.placementUsers.forEach((userId)=>{
                console.log("[noti]", userId);
                let notification = {
                  notified: userId,
                  message: "New campaign proposal by"+this.$store.state.auth.user.email,
                  link: "/proposals/",
                  read: false
                };
                NotificationService.createNotification(notification)
                  .then(()=>{
                    console.log("[notification] sended")
                  })
                  .error(()=>{
                    console.error("[notification] sended")
                  })
              })
            })
            .catch(errors =>{
              this.errors = errors;
              console.log(errors);
            });
        },

        updateCampaign(){
          console.log("upadteRequest", this.placement);
          PlacementService.updatePlacement(this.placement)
            .then(()=>{
              Toastify({
                text: "Placement : "+this.placement.name+" updated.",
                duration: 3000,
                close: true,
                className: "success",
                gravity: "top",
                position: "right",
              }).showToast();

            })
            .catch(errors =>{
              this.errors = errors;
              console.log(errors);
            });
        },
      }
    }


</script>