<style scoped>

    .formContainer form.create{
        padding: 35px;
        box-shadow: 0 -1px 4px 0 rgba(26, 26, 26, .08), 0 4px 8px 0 rgba(26, 26, 26, .12);
    }

    .placementContainer{
        margin-top: 20px;
        padding: 35px;
        box-shadow: 0 -1px 4px 0 rgba(26, 26, 26, .08), 0 4px 8px 0 rgba(26, 26, 26, .12);
    }

    .assetContainer{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .asset2{
        width: 250px;
    }
</style>

<template>

    <div class="row">
        <h2> {{operation === 'create' ? 'Create placement ' : 'Update placement' }} : {{placement.name}}</h2>

        <div class="row placementContainer">
            <form
                    enctype="multipart/form-data"
                    @submit.prevent="operation === 'create' ? createPlacement() : updatePlacement()"
            >
            <div class="col s6">

                    <div class="row">
                        <div class="col l12">
                            <label for="name">Name</label>
                            <input  v-model="placement.name" name="name" placeholder="name">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col l12">
                            <label for="url">Url</label>
                            <input v-model="placement.url" name="url" placeholder="url">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col l12">
                            <label for="status">Status</label>
                            <select id="status" name="status" v-model="placement.status" :value="placement.status">
                                <option value="" disabled selected>Status</option>
                                <option value="Stand by">Stand by</option>
                                <option value="Available">Available</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <DatePicker class="col m5"
                                    v-on:input="setStart"
                                    v-bind:label='"Start date"'
                                    v-bind:currentDate='placement.startDate'
                                    v-bind:placeholder='placement.formatedStartDate'
                        />
                        <p class="col l2" style="text-align:center;"></p>

                        <DatePicker class="col m5"
                                    v-on:input="setEnd"
                                    v-bind:label='"End date"'
                                    v-bind:currentDate='placement.endDate'
                                    v-bind:placeholder='placement.formatedEndDate'
                        />
                    </div>
                    <div class="row">
                        <div class="col l5">
                            <label for="height">Height</label>
                            <input v-model.number="placement.height" name="height" placeholder="height" type="number">
                        </div>
                        <p class="col l2" style="text-align:center;"></p>
                        <div class="col l5">

                            <label for="width">Width</label>
                            <input v-model.number="placement.width" name="width" placeholder="width" type="number">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col l5">
                            <label for="price">Price in $ CPM</label>
                            <input v-model.number="placement.price" name="price" step="0.1" placeholder="price" type="number">
                        </div>
                    </div>

                    <div class="row">
                        <button class="placement_create waves-effect waves-light btn">Save</button>
                    </div>

            </div>
            <div class="col s6 assetContainer" style="height: 200px;">
                <img class="asset2" :src="placement.asset" >
            </div>
            </form>
        </div>
    </div>
</template>

<script>
    import Placement from "../../models/placement";
    import Website from "../../models/website";

    import PlacementService from "../services/placement.service";

    import DatePicker from "./DatePicker";
    import Toastify from "toastify-js";

    export default {
      name: 'RegisterPlacement',
      components: {
        DatePicker,
      },
      props:{
        placement: {
          type: Placement,
          default: function(){
            return new Placement();
          }
        },
        website: Website,
        operation: String,
      },
      data: function(){
        return {
          errors: {},
        }
      },
      methods:{
        setAsset(asset, imageBlob){
          this.placement.asset = asset;
          this.placement.imageBlob = imageBlob;
        },
        setStart(startDate){
            this.placement.startDate = startDate;
        },
        setEnd(endDate){
          this.placement.endDate = endDate;
        },
        createPlacement(){
          PlacementService.createPlacement(this.$store.state.auth.user, this.placement, this.website)
            .then(()=>{
              Toastify({
                text: "Placement : "+this.placement.name+" created.",
                duration: 3000,
                close: true,
                className: "success",
                gravity: "top",
                position: "right",
              }).showToast();

              this.$emit('created');
            })
            .catch(errors =>{
              this.errors = errors;
              console.log(errors);
            });
        },

        updatePlacement(){
          console.log("upadteRequest", this.placement);
          PlacementService.updatePlacement(this.placement)
            .then(()=>{
              Toastify({
                text: "Placement : "+this.placement.name+" updated.",
                duration: 3000,
                close: true,
                className: "success",
                gravity: "top",
                position: "right",
              }).showToast();

            })
            .catch(errors =>{
              this.errors = errors;
              console.log(errors);
            });
        },
      }
    }


</script>