<style >
  #searchParamsContainer {
    padding: 20px;
    box-shadow: 0 -1px 4px 0 rgba(26, 26, 26, .08), 0 4px 8px 0 rgba(26, 26, 26, .12);
  }

  #searchButtonContainer{
    position: relative;
    z-index: 1;
    top: -20px;
    display: flex;
    justify-content: center;
  }

  #bottomModal{
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;

    display: flex;
    justify-content: center;
  }
</style>

<template>
  <div id="searchPage" class="container">
    <div id="searchParamsContainer">
      <div class="row">
        <div class="col m6">
          <input id="searchBar" class="input-field" placeholder="Type placement name" type="text" v-model="searchQuery" />
        </div>
        <Checkbox id="dimensionCheckbox" class="col m6"
                  v-bind:placeholder="'Select dimensions'"
                  v-bind:options="dimensions" label="'Choose a dimension'"
                  v-on:input="updateDimensions"
                  :multiple="false"
        >
        </Checkbox>
      </div>
      <div class="row">
        <DatePicker class="col m6"
                    v-on:input="updateStartDate"
                    v-bind:label='"Start date"'
                    v-bind:currentDate='startDate'
                    v-bind:placeholder="formatedStartDate"
        />
        <DatePicker class="col m6"
                    v-on:input="updateEndDate"
                    v-bind:label='"End date"'
                    v-bind:currentDate='endDate'
                    v-bind:placeholder="formatedEndDate"

        />
      </div>
      <div class="row">
        <div class="col m6">
          <label for="min_price">Min Price CPM ($)</label>
          <input id="min_price" step="0.1" class="input-field" placeholder="Min price" type="number" v-model="minPrice" />
        </div>
        <div class="col m6">
          <label for="max_price">Min Price CPM ($)</label>
          <input id="max_price" step="0.1" class="input-field" placeholder="Max price" type="number" v-model="maxPrice" />
        </div>
      </div>
    </div>
    <div id="searchButtonContainer">
      <button id="searchButton" class="waves-effect waves-light btn" v-on:click="getPlacements">
        Search  <i class="fas fa-search"></i>
      </button>
    </div>

    <div id="content">
      <Datatable
              v-if="datatablePlacements.length > 0"
              :headers="headers"
              :rows="datatablePlacements"
              :is-row-checked="isPlacementSaved"
              v-on:unsaveRow="unsavePlacement"
              v-on:saveRow="savePlacement"
      ></Datatable>

      <p v-else-if="datatablePlacements.length === 0 && !loading"> No placements for this query </p>

      <Preloader v-if="loading"></Preloader>
    </div>

    <BottomModal id="bottomModal"
      :buttonText=modalText
      :modalid="'modal1'"
      :modal-class="['modal-1']"
      :close-class="['close-1']"
      :active="savedPlacements.length > 0"
    >
      <RegisterCampaign
              :placements="savedPlacements"
      >
      </RegisterCampaign>
    </BottomModal>
  </div>
</template>

<script>

import M from "materialize-css";

import  format from 'date-fns/format';
import  addDays  from 'date-fns/addDays';

import PlacementService from '../services/placement.service'

import DatePicker from './DatePicker.vue';
import Checkbox from './Checkbox.vue';
import Preloader from './Preloader.vue';
import BottomModal from './BottomModal.vue';
import Datatable from './Datatable.vue';
import RegisterCampaign from "./RegisterCampaign";

export default {
  name: 'Placement',
  components: {
    DatePicker,
    Checkbox,
    Preloader,
    Datatable,
    BottomModal,
    RegisterCampaign
  },
  data: ()=>({
    searchQuery: "",
    dimension: "",
    minPrice: 0,
    maxPrice: 2,
    startDate: new Date(),
    endDate: addDays(new Date(),10),
    loading: false,
    placements: [],
    savedPlacements: [],
    headers: ["Name",'Url', "Width", "Height", "Price","Start", "End"],
    dimensions: ["300x250", "300x600", "720x280"]
  }),
  computed: {
    datatablePlacements: function(){
      return this.placements.map((placement)=>{
        return {
          "name": placement.name,
          "url": placement.url,
          "width": placement.width,
          "height": placement.height,
          "price": placement.price,
          "startDate": placement.startDate,
          "endDate": placement.endDate,

        }
      })
    },
    modalText: function(){
      return `Create a campaign with : ${this.savedPlacements.length} placements`;
    },
    formatedStartDate(){
      return format(this.startDate, "d MMM yyyy").toString()
    },
    formatedEndDate(){
      return format(addDays(this.endDate,10), "d MMM yyyy").toString()
    },
  },
  mounted() {
    M.AutoInit();
    this.getPlacements();
  },
  methods:{
    addDays: addDays,
    format: format,
    isPlacementSaved(placement, rowIndex){
      console.log("isPlacementSaved");
      let placementSaved = false;
      this.savedPlacements.forEach((savecPlacement)=>{
        if(this.placements[rowIndex].id === savecPlacement.id){
          placementSaved = true;
        }
      });
      return placementSaved;
    },
    savePlacement: function(index){
      console.log("[SearchPage]savePlacement", index);
      this.savedPlacements.push(this.placements[index]);
    },
    unsavePlacement: function(placementIndex){
      console.log("savePlacement", placementIndex);

      if(this.savedPlacements.length === 1){
        this.savedPlacements = [];
        return;
      }

      var firstPart = this.savedPlacements.splice(0,placementIndex);
      var secondPart = this.savedPlacements.splice(placementIndex, this.savedPlacements.length);
      console.log(firstPart, secondPart);
      this.savedPlacements = [...firstPart, ...secondPart];
    },
    updateStartDate: function(startDate){
      this.startDate = startDate;
    },
    updateEndDate: function(endDate){
      this.endDate = endDate;
    },
    updateDimensions: function(dimensions){
      this.dimension = dimensions;
    },
    getPlacements: function (){
      let formatedStartDate = format(new Date(this.startDate), "yyyy-MM-dd").toString();
      let formatedEndDate = format(new Date(this.endDate), "yyyy-MM-dd").toString();
      var filters = [
          "status=Available",
          "startDate[after]="+formatedStartDate,
          "endDate[before]="+formatedEndDate,
          "price[between]="+this.minPrice+".."+this.maxPrice,
      ];
      if(this.searchQuery){
        filters.push("name="+this.searchQuery);
      }
      if(this.dimension){
        filters.push("width="+this.dimension.split("x")[0]);
        filters.push("height="+this.dimension.split("x")[1]);
      }

      PlacementService.getPlacements(filters)
        .then((response)=>{
          console.log("getPlacement", response);
          this.placements = response.data;
        })
          .catch(()=>{
        })
    },
    createCampaign: function(){
      console.log("create campaign");
      // TODO route to create campaign page with savedPlacements as params

    }
  }
}
</script>