<template>
    <div class="vuemik">
        <slot></slot>
    </div>

</template>

<script>
  export default {
    name: "vuemik",
    props: {
      initialValue: Object,
      onSubmit: Function,
    },
    data(){
        return {...this.initialValue}
    },
    methods: {
      // handleSubmit: function(e){
      //   this.onSubmit(e);
      // },
      getFieldValue(name){
        return this.$data[name];
      },
      setFieldValue(name, value){
        this.$data[name] = value;
      }
    },
    provide: function () {
      return {
        getFieldValue: this.getFieldValue,
        setFieldValue: this.setFieldValue
      }
    }
    // validate: Object,
    // validationSchema: Object,
  }
</script>

<style scoped>

</style>