<style>

    body {
        font-family: "Helvetica Neue Light", Helvetica, sans-serif;
    }

    h2{
        font-size: 30px!important;
        font-weight: 600!important;
    }

    .toastify.success{background: #26a69a;}
    .toastify.info{background: #33b5e5;}
    .toastify.error{background: #ff4444;}
    .toastify.warning{background: #ffbb33;}


    #navDekstop{
        height: 64px;
    }

    #navDekstop, #navMobile{
        background-color: #111;
    }

    #navDekstop li.active, #navDekstop li.active a, #navMobile li.active{
        color: white;
        background-color: #26a69a;
    }

    #navMobile li a, #navMobile li {
        color: white;
    }

    li.notificationLi>span{
        padding: 0 15px;
    }

    #logo{
        display: flex;
        align-items: center;
        height: 100%;
        margin-left: 4px;
    }

    #logo img{
        height: 75%;
    }

    .btn.btn-primary{
        background-color: #47c2c1!important;
    }
</style>

<template>
    <div id="app">
        <nav id="navDekstop">
            <div class="nav-wrapper">
                <router-link id="logo" class="brand-logo" to="/"><img src="./assets/placeYourAdLogo_right.png" /></router-link>
                <a href="#" data-target="navMobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <span

                            v-for="route in allowedRoutes" v-bind:key="route.path"
                    >
                        <li v-bind:class="{active: currentPath === route.path}">
                            <router-link :to="route.path">{{route.name}}</router-link>

                        </li>
                        <li class="notificationLi">
                            <Notification
                                    v-if="route.path==='/about'"
                            ></Notification>
                        </li>
                    </span>


                    <li v-if="logged" ><a @click.prevent="logOut">Log out</a></li>
                </ul>
            </div>
        </nav>

        <ul id="navMobile" class="sidenav">
            <router-link id="logoMobile" class="brand-logo" to="/"><img src="./assets/placeYourAdLogo_right.png" /></router-link>
            <li
                    v-bind:class="{active: currentPath === route.path}"
                    v-for="route in allowedRoutes" v-bind:key="route.path"
            >
                <router-link :to="route.path">{{route.name}}</router-link>
            </li>
            <li v-if="logged" ><a @click.prevent="logOut">Log out</a></li>
        </ul>

        <router-view></router-view>

    </div>
</template>

<script>

    import M from 'materialize-css';
    import routes from "./routes/routes";
    import Notification from "./views/Notification";

    export default {
      components: {Notification},
      mounted () {
            M.AutoInit();
        },
        beforeMount: function () {
        },
        data: function () {
            return{
              routes: routes,
            }
        },
        computed: {
          currentPath(){
            return this.$route.path;
          },
          allowedRoutes(){
            let allowedArr = this.routes.filter(route=>{
                if(route.roles && route.roles.includes("any")) return true;
                if(route.roles && route.roles.includes("anonyme") && !this.currentUser) return true;

                let allowed = false;
                if(route.roles && this.currentUser && this.currentUser.roles ){
                route.roles.forEach(role=>{
                  if(this.currentUser.roles.includes(role)){
                    allowed = true;
                  }
                });
                }

                return allowed;
            });
            // console.log(allowedArr);

            return allowedArr;
          },
          logged() {
            return this.$store.state.auth.status.loggedIn;
          },
          currentUser() {
            return this.$store.state.auth.user;
          },
          showAdminBoard() {
            if (this.currentUser && this.currentUser.roles) {
              return this.currentUser.roles.includes('ROLE_ADMIN');
            }

            return false;
          },
          showModeratorBoard() {
            if (this.currentUser && this.currentUser.roles) {
              return this.currentUser.roles.includes('ROLE_MODERATOR');
            }
            return false;
          }
        },
        methods: {
            logOut() {
              console.log("logOut");
              this.$store.dispatch('auth/logout');
              this.$router.push('/login');
            }
        }
    }
</script>

